@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

:root {
  --sika-size: 45vw;
  --click-size: 7vw;
}


header {
  display: grid;
  font-size: 5px;
  align-items: center;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 11vh;
  grid-template-areas:
      "empty title sign-out";
}

.empty {
  grid-area: empty;
}

#sign-in {
  margin-top: 3vh;
}

#post-scriptum {
  font-size: 1vh;
}

#game-title {
  font-size: 8vh;
  grid-area: title;
}

body {
  background-image: url("./assets/sika_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Rye', cursive;
  text-align: center;
  align-items: center;
  justify-items: center;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

button {
  border-radius: 10px;
  border-color: #C3976A;
  border-width: 4px;
  background-color: #924A36;
  color:  white;
  font-family: 'Rye', cursive;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}


#game {
  display: grid;
  grid-template-rows: 13vh var(--sika-size);
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
      "counter counter"
      "sika store";
  justify-items: center;
  align-items: center;
}

#sika-img-div {
  padding-top: 10vh;
  grid-area: sika;
}

#sika-background {
  position: relative;
  animation: spin 15s linear infinite;

  margin-top: -80%;
  z-index: 1;
}

#sika-img {
  position: relative;
  z-index: 2;
  margin-top: calc(-0.5 * var(--click-size));
  margin-bottom: calc(-0.5 * var(--click-size));
  height: var(--sika-size);
  width: var(--sika-size);
}

#sika-img[animated='1'] {
  animation: click;
  animation-duration: 0.08s;
}


#store {
  grid-area: store;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.store-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7vw;
}

.icon {
  display: block;
  margin:  auto;
  width:  5vw;
  height: 5vw;
}

.item-info{
  display: flex;
  flex-direction: column;
  margin-left: 0.5vw;
  justify-items: left;
}

.item-info-with-icon {
  display: flex;
  flex-direction: row;
}

.item-price, .item-name {
  display: flex;
  margin:  auto auto auto 0;
  flex-direction: row;
}

.price-icon {
  width: 2vw;
  height: 2vw;
  margin-left: 5px;
  margin-top: 2px;
}

.item-amount {
  font-size: 3vw;
}



#counter {
  display: flex;
  flex-direction: column;
  align-content: center;
  grid-area: counter;
}

#bacon-counter, .bacon-per-second {
  display: flex;
  flex-direction: row;
  font-size: 5vh;
}

.counter-icon {
  width: 5vh;
  height: 5vh;
  margin-left: 5px;
  margin-top: 0.3vh;
}

.bacon-per-second {
  font-size: 3vh;
}

.bpc-icon {
  width: 3vh;
  height: 3vh;
  margin-left: 5px;
}

@media (max-width: 800px) {
  :root {
  --sika-size: 42vh;
  --click-size: 6vh;
  }

  #game-title{
    font-size: 5vh;
  }

  #sign-in {
    justify-self: left;
    flex-direction: column;
    font-size: 10px;
  }

  #game{
    grid-template-rows: 8vh 39vh 39vh;
    grid-template-columns: 100vw;
    grid-template-areas:
      "counter"
      "sika"
      "store";
  }

  #bacon-counter{
    font-size: 4vh;
  }

  .item-price {
    font-size: 1.8vh;
  }

  .price-icon {
    width: 1.8vh;
    height: 1.8vh;
  }

  .item-name {
    font-size: 1.6vh;
  }

  .item-amount {
    font-size: 3vh;
  }

  .icon {
    width: 6vh;
    height: 6vh;
  }

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes click {
  0% {
    width:  var(--sika-size);
    height: var(--sika-size);
  }
  50% {
    width:  calc(var(--sika-size) + 0.5 * var(--click-size));
    height: calc(var(--sika-size) + 0.5 * var(--click-size));
    margin-bottom: calc(-1 * var(--click-size));
  }
  100% {
    width:  var(--sika-size);
    height: var(--sika-size);
  }
}